/* Aquí definimos las Custom properties */
:root {
    --font-c-secondary: #fff;
    --font-c-secondary--active: #ffffff61;
    --font-c-primary: #000;
    --font-c-tertiary: hsl(232, 10%, 55%);
    --font-c-tertiary-dark: hsl(213, 9%, 39%);
    --font-c-cuaternary: hsl(167, 40%, 24%);
    --font-c-quinary: hsl(198, 62%, 26%);
    --font-c-senary: hsl(168, 34%, 41%);
    --font-primary: "Barlow", sans-serif;
    --font-secondary: "Fraunces", serif;
    --bg-c-primary: #fff;
    --bg-c-secondary: #000;
    --bg-c-tertiary: hsl(51, 100%, 49%);
    --bg-c-cuaternary: hsl(7, 99%, 70%);
    --bg-c-quinary: hsl(168, 52%, 57%);
  }
  
  /* Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
    }
  }
  /* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Configuramos el texto que seleccionamos */
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  /* Quitar barra lateral */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Configuramos la tipografía para toda la web */
  body {
    min-height: 100vh;
    font-size: 1.125rem;
    font-family: var(--font-primary);
    font-weight: 600;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */ 
    -moz-osx-font-smoothing: grayscale;
  }
  .Header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    color: var(--font-c-secondary);
  }
  .Header-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.8125rem
  }
  .Logo-h1{
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--font-secondary);
  }
  .Nav-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
  }
  .Nav-btn{
    background-color: var(--font-c-secondary);
    color: var(--font-c-primary);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.25rem 2.1875rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color .5s ease , color .5s ease;
  }
  .Nav-btn:hover{
    background-color: var(--font-c-secondary--active);
    color: var(--font-c-secondary);
  }
  .Hero{
    position: relative;
    height: 100vh;
  }
  .Hero-picture{
    height: 100%;
    width: 100%;
  }
  .Hero-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .Hero-h2{
    position: absolute;
    top: 12.5rem;
    width: 100%;
    text-align: center;
    font-size: 3.25rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: var(--font-secondary);
    font-weight: 900;
    color: var(--font-c-secondary);
  }
  .Hero-svg{
    position: absolute;
    top: calc(50% - 3.5625rem);
    left: calc(50% - .9375rem);
  }
  .Grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
  }
  .Grid-item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}
.Grid-item:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
}
.Grid-article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 2.5rem;
    padding: 0 10rem;
    height: 100%;
  }
.Article-h3{
    font-size: 2.625rem;
    font-weight: 900;
    font-family: var(--font-secondary);
  }
.Article-paragraph{
    color: var(--font-c-tertiary);
    letter-spacing: -.7px;
    line-height: 2rem;
    font-weight: 600;
  }
.Article-a{
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
.Article-a::after{
    content: "";
    display: block;
    width: 100%;
    padding: 0 .5rem;
    height: 8px;
    background-color: var(--bg-c-tertiary);
    opacity: 40%;
    position: absolute;
    bottom: 0;
    border-radius: 1rem;
    transition: opacity .5s ease;
  }
  .Grid-item:nth-child(3) > .Grid-article > .Article-a::after{
    background-color: var(--bg-c-cuaternary);
  }
.Article-a:hover::after{
  opacity: 100%;
}
.Grid-image{
    height: 100%;
    position: relative;
  }
.Grid-picture{
    height: 100%;
  }
.Grid-img{
    height: 100%;
    object-fit: cover;
  }
.Article-image{
    position: absolute;
    bottom: 3.75rem;
    left: 0;
    text-align: center;
    padding: 0 8rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}
.Article-h4{
    font-family: var(--font-secondary);
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--font-c-cuaternary);
}
.Grid-item:nth-child(6) .Article-h4{
    color: var(--font-c-quinary);

}
.Image-paragraph{
    font-size: 1.05rem;
    letter-spacing: -.5px;
    line-height: 1.7rem;
    color: var(--font-c-tertiary-dark);
}
.Testimonials-h4{
    text-transform: uppercase;
    color: var(--font-c-tertiary);
    font-family: var(--font-secondary);
    letter-spacing: 3px;
    font-weight: 900;
    text-align: center;
    padding: 10rem 0 0;
}
.Testimonials-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    padding: 5rem 10rem 10rem;
}
.Testimonials-article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3.75rem;
}
.Testimonials-picture{
    width: 4.6875rem;
    height: 4.6875rem;
}
.Testimonials-img{
    border-radius: 50%;
}
.Testimonials-paragraph{
    color: var(--font-c-tertiary-dark);
    font-size: 1rem;
    letter-spacing: -.7px;
    text-align: center;
}
.Testimonials-name{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}
.Testimonials-h5{
    font-family: var(--font-secondary);
    font-weight: 900;
}
.Testimonials-span{
    font-size: .8rem;
    color: var(--font-c-tertiary);
}
.Images-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.Images-li{
  width: 100%;
}
.Footer{
  background-color: var(--bg-c-quinary);
}
.Footer-wrapper{
  padding: 4.375rem 0;
}
.Footer-h5{
  color: var(--font-c-cuaternary);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 0 0 3.125rem;
}
.Footer-ul{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 3.4375rem;
  padding: 0 0 5rem;
  color: var(--font-c-senary);
}
.Footer-a{
  transition: color .5s ease;
}
.Footer-a:hover{
  color: var(--font-c-secondary);
}
.Social-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5625rem;
}
.Social-svg>path{
  transition: fill .5s ease;
}
.Social-a:hover .Social-svg>path{
  fill: var(--bg-c-primary);
}
