/* Aquí definimos las Custom properties */
:root {
    --font-c-secondary: #fff;
    --font-c-primary: #000;
    /* Tipografía */
    --font-primary: "Barlow", sans-serif;
    --font-secondary: "Fraunces", serif;
  }
  
  /* Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
    }
  }
  /* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Configuramos el texto que seleccionamos */
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  /* Quitar barra lateral */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Configuramos la tipografía para toda la web */
  body {
    min-height: 100vh;
    font-size: 1.125rem;
    font-family: var(--font-primary);
    font-weight: 600;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* opcional */
    font-smooth: always;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */ 
    -moz-osx-font-smoothing: grayscale;
  }
  .Header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    color: var(--font-c-secondary);
  }
  .Header-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.8125rem
  }
  .Logo-h1{
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--font-secondary);
  }
  .Nav-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
  }
  .Nav-btn{
    background-color: var(--font-c-secondary);
    color: var(--font-c-primary);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.25rem 2.1875rem;
    border-radius: 2rem;
  }
  .Hero{
    position: relative;
    height: 100vh;
  }
  .Hero-picture{
    height: 100%;
    width: 100%;
  }
  .Hero-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .Hero-h2{
    position: absolute;
    top: 12.5rem;
    width: 100%;
    text-align: center;
    font-size: 3.25rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: var(--font-secondary);
    font-weight: 900;
    color: var(--font-c-secondary);
  }
  .Hero-svg{
    position: absolute;
    top: calc(50% - 3.5625rem);
    left: calc(50% - .9375rem);
  }